.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper{
  width: 85%;
  margin: auto;
  text-align: center;
}

h6.content, h2.content{
  text-align:left;
}

.about{
  margin-top: 100px;
}

.bigSpace{
  margin-top: 5rem;
}

.littleSpace{
  margin-top: 2.5rem!important;
}

.grid{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.disclaimer{
  font-weight:normal;
  color:#333;
  font-size:0.9375rem;
  line-height: 1.2;
}

.faqs{
list-style-type: none;
text-align: left;
}

.link{
    color: #4f25c8;
    font-weight:bold;
    text-decoration:none;
}

.link:hover{
  color:#000;
}

@media (max-width:780px) {
  .about{
      margin-top: 50px;
  }
  .social{
      z-index: 1;
      position: relative;
    }

}